<div class="panel panel-primary">
    <div class="panel-heading">
        <%= @post.user.name %>
        <div class="post_time">
            <%= @post.created_at.strftime('%m/%d %H:%M') %>
        </div>
     </div>
    <div class="panel-body">
        <%= @post.body %>
    </div>
</div>

<div class="row">
    <ul>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <h5 class="text-left">comment to <%= @post.user.name%>'s post</h5>
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
    <% end %>
</div>