<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Chat App</a>
      </div>

      <% if user_signed_in? %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span></li><li><a href="/new"><span class="glyphicon glyphicon-pencil"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="logout">
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </div>
          </ul>
        </div><!-- /.navbar-collapse -->
      <% end %>
    </div><!-- /.container-fluid -->
  </nav>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
